.cell {
  all: unset;
  height: 120px;
  width: 120px;
  cursor: pointer;
  background-color: var(--color-purple-dark);
  color: white;
  font-weight: 900;
  font-size: 60px;
}

.cell:hover {
  background-color: var(--color-purple-medium);
}

.cell:disabled {
  /* background-color: var(--color-green-metal); */
}

.cell.winner:disabled {
  background-color: var(--color-purple-darker);
}

.cell:nth-child(2n) {
  margin-right: 5px;
  margin-left: 5px;
}

.row:nth-child(2n) {
  margin-top: 5px;
  margin-bottom: 5px;
}

.grid {
  margin: 50px 100px;
}

.row {
  display: flex;
  justify-content: center;
}

.game-over {
  //background-color: var(--color-purple-light);
  max-width: 300px;
  margin: auto;
  padding: 20px;
}

.scores {
  display: flex;
  justify-content: center;
}

.scores > div {
  width: 150px;
}

.btn-purple {
  all: unset;
  background-color: var(--color-purple-dark);
  border-radius: 10px;
  width: 150px;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.btn-purple:hover {
  background-color: var(--color-purple-medium);
}

.active {
  background-color: var(--color-purple-medium);
}
